:root {
  --rgb-0: rgb(0, 0, 0);
  --rgb-1: rgb(255, 255, 0);
  --rgb-2: rgb(95, 99, 255);
  --rgb-3: rgb(255, 235, 223);
  --rgb-4: rgb(0, 179, 0);
  --rgb-5: rgb(0, 180, 0);
  --rgb-6: rgb(255, 236, 224);
  --rgb-7: rgb(99, 0, 11);
}